.idea/
_build/
resources/image/tmp/
*.lib
*.suo
*.sdf
*.opensdf
*.exe
*.dll
*.ilk
*.pdb
experi
/tmp
resources/image/native_test/*.jpg
*.vsp
*.psess

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.obj
*.cache
*.log

